.single_film_photo {
	width: 250px;
	border-radius: 10%;
}

.single_film:hover {
	transform: scale(1.1);
	transition: 200ms;
}

.single_film {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 5px;
}