.filmPage {
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	h1 {
		font-size: 24px;
	}

	.upperContent {
		display: flex;
		flex-direction: row;
		gap: 30px
	}

	.infoBlock {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}

.stars {
	background-color: gray;
	display: flex;
	flex-direction: row;
	align-items: center;

	label {
		color: yellow;
		border-color: yellow;
	}
}

.box {
	color: white
}

.rating {
	display: flex;
	align-items: center;
	flex-direction: row;
}